body {
  text-align: center;
  background-color: #0D47A1;
}
button {
  background-color: green;
  border-radius: 80px;
}
img {
  height: 100px;
  paddin: 5px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 20px;
}
h7 {
  font-size: 20px;
}
